/*CSS Variables*/
:root {
    --primary: #FF597B;
    --secondary: #FF8E9E;
    --tertiary: #F9B5D0;
    --background: #ffffff;
}

/*Body*/
body{
    margin: 0;
    padding: 0;
    font-family: Dubai;
}

/*Top Bar*/
.top-cont .top-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.6em;
    background-color: white;
    border-bottom: 2px var(--tertiary) inset;
    padding: 2px;
}


.top-cont .top-main .middle h5{
    margin: 0;
    font-family: Elephant;
    color: var(--primary);
}

.top-cont .top-main .left{
    width: 10%;
}
.top-cont .top-main .left .socials{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.top-cont .top-main .left a {
    text-decoration: none;
    color: var(--secondary);
}

.top-cont .top-main .right {
    width: 10%;
}

.top-cont .top-main .right span{
    color: var(--secondary);
    font-weight: bold;
}

@media (max-width: 796px){
    .top-cont .top-main .left{
        display: none;
    }
    .top-cont .top-main .right{
        display: none;
    }
}

/*Top Bar End*/